Repository cyberrangecz/backend-security-commons: changes, and which GitLab CI jobs are due for each by the changed paths.
All: create_tag, build, deploy

.gitlab-ci.yml:

image: 'maven:3.6.3-jdk-11-slim'

cache:
  paths:
    - .m2/repository

variables:
  PROJECT_ARTIFACT_ID: kypo2-security-commons
  DEPLOYMENT_INFO_VERSION_FILE: VERSION.txt
  MAVEN_CLI_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"

stages:
  - create_tag
  - build
  - tests
  - deploy
  
create_tag:
  stage: create_tag
  # https://gitlab.ics.muni.cz/csirt-mu-infra/devops-support/docker-images/csirtmu-docker-common-ci
  image: 'nexus.csirt.muni.cz:5000/csirtmu/common-ci'
  variables:
    GIT_STRATEGY: clone
  script:
    - source /app/export-tag-vars.sh VERSION.txt
    - /app/import-ssh-key.sh
    - /app/prepare-git.sh
    - /app/set-version-java.sh
    - /app/tag-and-push.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - VERSION.txt
    
build:
  stage: build
  script:
  - mvn clean install $MAVEN_CLI_OPTS -DskipTests -Dproprietary-repo-url=$PROPRIETARY_REPO_URL
  rules:
  - if: '$CI_COMMIT_TAG'
    changes:
      - pom.xml
  - if: '$CI_COMMIT_BRANCH'
    
tests:
  stage: tests
  script:
  - mvn test $MAVEN_CLI_OPTS -Dproprietary-repo-url=$PROPRIETARY_REPO_URL
  rules:
  - if: '$CI_COMMIT_BRANCH == "master"'
    changes:
      - VERSION.txt
    when: never
  - if: '$CI_COMMIT_TAG'
    changes:
      - pom.xml
    when: never
  - if: '$CI_COMMIT_BRANCH'
  
deploy:
  stage: deploy
  image: maven:3.6-jdk-11
  script:
    - 'mvn deploy $MAVEN_CLI_OPTS -s etc/ci_settings.xml'
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - VERSION.txt

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Resolve "Remove number 2 from the project"
  README.md
  kypo-security-commons-example.properties
  pom.xml
Due: build

1.0.42 Rename kypo2-security-commons to kypo-security-commons
  VERSION.txt
Due: create_tag, deploy

[CI/CD] Update pom.xml versions based on GitLab tag.
  pom.xml
Due: build

1.0.43 Rename kypo2-security-commons to kypo-security-commons
  VERSION.txt
Due: create_tag, deploy

1.0.44 Gitlab CI bugfix
  VERSION.txt
Due: create_tag, deploy

move from Nexus to Gitlab artifact repository
  .gitlab-ci.yml
Due: none

Modified the microservices endpoint used during registration.
  src/main/java/cz/muni/ics/kypo/commons/startup/StartUpRunner.java
Due: none

Update VERSION.txt
  VERSION.txt
Due: create_tag, deploy

Remove MITRE dependency. Implementation of the custom user info authentication.
  kypo-security-commons-example.properties
  pom.xml
  src/main/java/cz/muni/ics/kypo/commons/security/AuthorityGranter.java
  src/main/java/cz/muni/ics/kypo/commons/security/ClientConfigurationService.java
  src/main/java/cz/muni/ics/kypo/commons/security/ServerConfigurationService.java
  src/main/java/cz/muni/ics/kypo/commons/security/config/IdentityProvidersConfig.java
  src/main/java/cz/muni/ics/kypo/commons/security/config/ResourceServerSecurityConfig.java
  src/main/java/cz/muni/ics/kypo/commons/security/enums/AuthenticatedUserOIDCItems.java
  src/main/java/cz/muni/ics/kypo/commons/security/enums/OIDCItems.java
  src/main/java/cz/muni/ics/kypo/commons/security/impl/CustomAuthenticationEntryPoint.java
  src/main/java/cz/muni/ics/kypo/commons/security/impl/CustomCorsFilter.java
  src/main/java/cz/muni/ics/kypo/commons/security/impl/DynamicServerConfigurationService.java
  src/main/java/cz/muni/ics/kypo/commons/security/impl/ExternalAuthorityGranter.java
  src/main/java/cz/muni/ics/kypo/commons/security/impl/StaticClientConfigurationService.java
  src/main/java/cz/muni/ics/kypo/commons/security/impl/UserInfoTokenService.java
  src/main/java/cz/muni/ics/kypo/commons/security/model/Address.java
  src/main/java/cz/muni/ics/kypo/commons/security/model/ClientConfiguration.java
  src/main/java/cz/muni/ics/kypo/commons/security/model/OAuth2AccessTokenImpl.java
  src/main/java/cz/muni/ics/kypo/commons/security/model/UserInfo.java
  src/main/java/cz/muni/ics/kypo/commons/security/model/WellKnownOpenIDConfiguration.java
  src/main/java/cz/muni/ics/kypo/commons/security/util/JsonUtils.java
  src/main/java/cz/muni/ics/kypo/commons/startup/StartUpRunner.java
  src/main/java/cz/muni/ics/kypo/commons/startup/config/MicroserviceRegistrationConfiguration.java
Due: build

Change the version info for the dependency example
  README.md
Due: none

Remove kypo2 in the readme
  README.md
Due: none

1.0.46 Configuration of OIDC supporting Microsoft ecosystem
  VERSION.txt
Due: create_tag, deploy

Renamed property kypo.idp.identityProviders to kypo.identity.providers. Added validation of the OIDC configuration.
  kypo-security-commons-example.properties
  src/main/java/cz/muni/ics/kypo/commons/security/config/IdentityProvidersConfig.java
Due: none

update log4j2 to 2.15.0. version.
  pom.xml
Due: build

Update log4j2 dependency to 2.15.0 to avoid CVE-2021-44228 vulnerability.
  VERSION.txt
Due: create_tag, deploy

Resolve "Upgrade dependencies to the latest version and change the security configuration accordingly"
  pom.xml
  src/main/java/cz/muni/ics/kypo/commons/BeansConfiguration.java
  src/main/java/cz/muni/ics/kypo/commons/security/ClientConfigurationService.java
  src/main/java/cz/muni/ics/kypo/commons/security/IdentityProvidersService.java
  src/main/java/cz/muni/ics/kypo/commons/security/ServerConfigurationService.java
  src/main/java/cz/muni/ics/kypo/commons/security/config/ResourceServerSecurityConfig.java
  src/main/java/cz/muni/ics/kypo/commons/security/impl/CustomAuthenticationEntryPoint.java
  src/main/java/cz/muni/ics/kypo/commons/security/impl/CustomCorsFilter.java
  src/main/java/cz/muni/ics/kypo/commons/security/impl/IdentityProvidersServiceImpl.java
  src/main/java/cz/muni/ics/kypo/commons/security/impl/StaticClientConfigurationService.java
  src/main/java/cz/muni/ics/kypo/commons/security/impl/TokenCache.java
  src/main/java/cz/muni/ics/kypo/commons/security/impl/UserInfoAuthenticationProvider.java
  src/main/java/cz/muni/ics/kypo/commons/security/impl/UserInfoTokenService.java
  src/main/java/cz/muni/ics/kypo/commons/security/impl/UserInfoValidator.java
  src/main/java/cz/muni/ics/kypo/commons/security/model/ClientConfiguration.java
  src/main/java/cz/muni/ics/kypo/commons/security/model/OAuth2AccessTokenImpl.java
  src/main/java/cz/muni/ics/kypo/commons/security/util/JsonUtils.java
Due: build

Resolve "Migrate to new Java LTS version version (OpenJDK 17)"
  .gitlab-ci.yml
  pom.xml
Due: build

add actions
  .github/workflows/github-actions.yml
  pom.xml
Due: build

add actions
  .github/workflows/github-actions.yml
Due: none

add actions
  pom.xml
Due: build

add actions
  .github/workflows/github-actions.yml
  etc/ci_settings.xml
Due: none
